asgiref
beautifulsoup4
bleach
crispy-bootstrap4
Django
django-bootstrap4
django-crispy-forms
django-summernote
gunicorn
jsmin
Pillow
psycopg2
pytz
six
soupsieve
sqlparse
tzdata
webencodings
whitenoise